html{
    background-image: url("background.webp");
    background-size: cover;
    background-repeat: none;
}
body{
    background: rgba(255,255,255,0.74);
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    font-family: 'raleway';
    padding: 20px;
    border-radius: 10px 0;
}

h1,p{
    text-align: center;
    margin: auto;
}
label{
    display: inline;
    margin: 0.5em;
    font-size: 20px;
}
input, select{
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 0.3em;
    background-color: #fbfbfb;
    border: solid 1px #CCC;
    resize: vertical;
    border-radius: 10px;
    margin: 0.1em;
}

input[type=checkbox], input[type=radio]{
    display: inline;
    width: auto;
}
.inline-label{
    display: inline;
    width: auto;
}
option{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
select{
    color: indigo;
}
input[type=submit],
input[type=reset] {
    background: rgb(27, 44, 141);
    margin: 1em 0 0;
    color: white;
    border: none;
    border-radius: 8px;

}

input[type=submit]:hover,
input[type=submit]:focus{
    background: green ;
    outline:none;
}

input[type=reset]:hover,
input[type=reset]:focus{
    background: red ;
    outline:none;
}

